<app-navbar></app-navbar>
<div id="container--main">
  <section id="wrapper--hero" class="section--page">
    <!-- <img id="profile-pic" src="../../../assets/IMG-20171130-WA0000.jpg" /> -->
    <img id="profile-pic" src="../../../assets/Jude Brian Rodriguez Professional Photo.png" />

    <div>
      <h1 id="user-name">Judeson Brian Caleb Rodriguez</h1>
      <p id="bio">Web Developer</p>
      <p id="email">👉 judeson.rodriguez@gmail.com</p>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          (click)="switchTheme($event)"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark Theme</label
        >
      </div>
    </div>
  </section>

  <section class="section--page">
    <div id="socials--list">
      <a
        href="https://www.linkedin.com/in/judeson-brian-rodriguez-764439b5"
        target="_blank"
        >LinkedIn</a
      >
      <a
        href="https://www.facebook.com/rodriguezzude"
        target="_blank"
        >Facebook</a
      >
      <a href="https://github.com/zvdas" target="_blank">GitHub</a>
      <a href="#" target="_blank" (click)="generatePdf()">Download Resume</a>
    </div>
  </section>

  <section class="section--page">
    <h2>Skills & Qualifications</h2>
    <ul id="qualifications--list">
      <li>✔️ 6 Months experience with front development using Angular</li>
    </ul>
  </section>

  <section class="section--page">
    <h2>Tech stack</h2>

    <div id="wrapper--techstack__items">
      <div *ngFor="let stack of techStack" class="card--techstack">
        <span>{{stack}}</span>
      </div>
    </div>
  </section>

  <section id="work-history-wrapper" class="section--page">
    <h2>Work History</h2>

    <div class="line-break"></div>

    <div class="card--work-history">
      <strong>🚧 SDE INTERN | ANGULAR WIKI</strong>
      <p>11/2022 - Present</p>
      <p>
        Worked on creating a front end in Angular for an application in the
        medical field.
      </p>
    </div>

    <div class="line-break"></div>

    <!--
    <div class="card--work-history">
      <strong>🚧 </strong>
    </div>
    -->

    <section class="section--page">
      <h2>Projects & Accomplishments</h2>

      <div class="card--project">
        <a href="project1.html"
          ><span>🏆 </span>Food blog application in Angular with Firebase
          using Firestore as Database</a
        >
      </div>

      <div class="card--project">
        <a href="project1.html"
          ><span>🏆 </span>Online quiz application in Angular with Firebase
          using Firestore as Database</a
        >
      </div>

      <div class="card--project">
        <a href="project1.html"
          ><span>🏆 </span>Event finder application in React with Firebase
          using Firestore as Database & Redux as State Management</a
        >
      </div>

      <div class="card--project">
        <a href="project1.html"
          ><span>🏆 </span>Pokemon search application in React with Firebase
          using Firestore as Database & Redux as State Management</a
        >
      </div>
    </section>
  </section>
</div>
