<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Angular
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="goToOta()">Online Test Application</a></li>
                        <li><a class="dropdown-item" (click)="goToFba()">Blog Application</a></li>
                        <li><a class="dropdown-item" (click)="goToTma()">3D Model Application</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        React
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="goToEfa()">Event Finder Application</a></li>
                        <li><a class="dropdown-item" (click)="goToPsa()">Pokemon Search Application</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="https://www.linkedin.com/in/judeson-brian-rodriguez-764439b5"><img src="../../../assets/linkedin.svg" width="34" height="34"></a>
    </div>
</nav>