/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-image: url('https://images.unsplash.com/photo-1629197521865-4946b4acd2b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=825&q=80');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% calc(100%);
    /* background-color: royalblue; */
    /*
        attribute
        Photo by Kseniya Lapteva on Unsplash
        https://unsplash.com/photos/A4rqd2g-eLo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    */
}

.accordion-button {
    border-color: #7c7c7c;    
    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25)  63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
}