<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1 class="text-center text-white">Web Development Portfolio</h1>
        <div class="accordion" id="headingAppType">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingAngular">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#angular" aria-expanded="false" aria-controls="angular">Angular</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingAngular" id="angular" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Online Test Application</li></h4>
                            <p>
                                A quiz application developed in Angular serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToOta()">Here</a> to View Details</p>
                            <h4><li>Blog Application</li></h4>
                            <p>
                                A food blog application developed in Angular serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToFba()">Here</a> to View Details</p>
                            <h4><li>3D Model Application</li></h4>
                            <p>
                                An application developed in Angular for uploading, listing and rendering 3D models using Three.js library & serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToTma()">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingReact">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#react" aria-expanded="false" aria-controls="react">React</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingReact" id="react" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Event Finder Application</li></h4>
                            <p>
                                An event application developed in React serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToEfa()">Here</a> to View Details</p>
                            <h4><li>Pokemon Search Application</li></h4>
                            <p>
                                A pokemon search application developed in React serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToPsa()">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNode">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#node" aria-expanded="false" aria-controls="node">Node</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingNode" id="node" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Learning Management System</li></h4>
                            <p>
                                A Learning Management System (LMS) application developed in Node.js, rendered using Pug template engine.
                            </p>
                            <p>Click <a class="blue-text" (click)="goToLms()">Here</a> to View Details</p>
                            <h4><li>Online Music Library</li></h4>
                            <p>
                                An Online Music Library application developed in Node.js, rendered using Pug template engine.
                            </p>
                            <p>Click <a class="blue-text" (click)="goToOml()">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>