<div class="container">
    <div class="row">
        <div class="accordion" id="headingAppType">
            <h1 class="text-center text-white mt-2">Introduction</h1>
            <div class="card p-5 mt-2 text-primary" [innerHTML]="introduction">
                <!-- Hello, Visitor. Welcome to my website portfolio. I'm Jude Rodriguez, a JavaScript website developer. The below portfolio highlights the skills and experience culminating from my joruney into web development, initially through the online bootcamp Simplilearn, and then updated through code snippets to enhance website functionality while working for different companies across various domains, following onine tutorials, referring to and tailoring code from experts mentioned in programming forums such as medium, stack overflow, etc. I take a special interest in providing and enhancing functionality in websites using JavaScript/TypeScript programming. I work primary in Angular frontend framework, coupled with Firebase as a backend. However, I am also intested in Express.js with Node.js as a backend (MEAN stack). -->
            </div>

            <h1 class="text-center text-white mt-2">Web Development Portfolio</h1>
            <div class="accordion-item mt-2">
                <h2 class="accordion-header" id="headingAngular">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#angular" aria-expanded="false" aria-controls="angular">Angular</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingAngular" id="angular" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Online Test Application</li></h4>
                            <p>
                                A quiz application developed in Angular serving files from Firestore, hosted on Firebase.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/0/ota">Here</a> to View Details</p>
                            <h4><li>Blog Application</li></h4>
                            <p>
                                A food blog application developed in Angular serving files from Firestore, hosted on Firebase.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/1/fba">Here</a> to View Details</p>
                            <h4><li>3D Model Application</li></h4>
                            <p>
                                An application developed in Angular for uploading, listing and rendering 3D models using Three.js library & serving files from Firestore, hosted on Firebase.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/2/tma">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingReact">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#react" aria-expanded="false" aria-controls="react">React</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingReact" id="react" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Event Finder Application</li></h4>
                            <p>
                                An event application developed in React serving files from Firestore, hosted on Firebase.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/3/efa">Here</a> to View Details</p>
                            <h4><li>Pokemon Search Application</li></h4>
                            <p>
                                A pokemon search application developed in React serving files from Firestore, hosted on Firebase.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/4/psa">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNode">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#node" aria-expanded="false" aria-controls="node">Node</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingNode" id="node" data-bs-parent="headingAppType">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Learning Management System</li></h4>
                            <p>
                                A Learning Management System (LMS) application developed in Node.js, rendered using Pug template engine.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/5/lms">Here</a> to View Details</p>
                            <h4><li>Online Music Library</li></h4>
                            <p>
                                An Online Music Library application developed in Node.js, rendered using Pug template engine.
                            </p>
                            <p>Click <a class="blue-text" href="#/details/6/oms">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>