<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1 class="text-center text-white">Project Portfolio</h1>
        <div class="accordion" id="headingAngular">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOta">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ota" aria-expanded="false" aria-controls="ota">Angular</button>
                </h2>
                <div class="accordion-collapse collapse" aria-labelledby="headingOta" id="ota" data-bs-parent="headingAngular">
                    <div class="accordion-body">
                        <ol>
                            <h4><li>Online Test Application</li></h4>
                            <p>
                                A quiz application developed in Angular serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToOta()">Here</a> to View Details</p>
                            <h4><li>Blog Application</li></h4>
                            <p>
                                A food blog application developed in Angular serving files from a JSON server (which serves local JSON files as a fake API server).
                            </p>
                            <p>Click <a class="blue-text" (click)="goToFba()">Here</a> to View Details</p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>